.naz-button{
    border: 0;
    border-radius: 20px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: aliceblue;
}

.naz-button--small{
    font-size: 0.8rem;
}

.naz-button--large{
    font-size: 1.5rem;
}

@media (orientation:portrait){
    .naz-button{
        padding: 2% 5% 2% 5%;
    }
}
